body {
    background-color: #ffffff;
    color: #8b7969;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 1230px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.header__logo {
    text-decoration: none;
    color: #8b7969;
    font-size: 32px;
    font-family: 'Inika', serif;
    line-height: 1;
    display: block;
}

.main {
    padding-top: 30px;
}

.common__heading h2 {
    font-family: 'Inika', serif;
    font-weight: 400;
    color: #8b7969;
    letter-spacing: 3px;
    font-size: 28px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 0;
}

.form__button {
    margin-top: 50px;
    text-align: center;
}

.form__button-submit {
    background-color: #8b7969;
    color: #fff;
    padding: 15px 40px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 20px;
}

.form__button-submit:hover {
    opacity: 0.8;
}

.form__error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}